<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">

  </head>
  <body>
      <div class="container titulo">
          <h3>Amigos</h3>
        </div>
        <div class="container titulo">
            <h3>Pagina ({{paginaActual}})</h3>
          </div>
      <div class="alert alert-info" role="alert" *ngIf="amigos.length==0">
        No hay amigos registrados. Cantidad de usuarios {{amigos.length}}
      </div>
      <div class="container tabla-usuarios">
        <div class="row">
          <div class="col-md-12">
              <form>
                  <div class="form-group">
                      <label for="exampleFormControlSelect1">Filtro</label>
                      <select class="form-control" id="exampleFormControlSelect1" (change)="verFiltro($event.target.value)">
                        <option selected>todos</option>
                        <option>nombre</option>
                        <option>apellido</option>
                        <option>carnet</option>
                      </select>
                    </div>
              </form>
              <div class="active-cyan-3 active-cyan-4 mb-4" *ngIf="filtro">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup)="filtrar($event.target.value)">
              </div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Carnet</th>
                  <th scope="col">Correo</th>
                  <th scope="col">Ciudad</th>
                  <th scope="col">Telefonos</th>
                  <th scope="col">Carrera</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let amigo of amigos; let i = index">
                      <th scope="row">{{i+1}}</th>
                      <td>{{amigo.nombre}}</td>
                      <td>{{amigo.apellidos}}</td>
                      <td>{{amigo.ci}}</td>
                      <td>{{amigo.email}}</td>
                      <td>{{amigo.ciudad}}</td>
                      <td>{{amigo.telefono}} - {{amigo.celular}}</td>
                      <td>{{amigo.carrera}}</td>
                      <td>
                        <button type="button" class="btn btn-outline-info" (click)="verAmigo(amigo.usuario_id)">Ver</button>
                        <button type="button" class="btn btn-outline-danger" (click)="eliminarAmigo(amigo.usuario_id)">Eliminar</button>
                      </td>
                    </tr>
                
              </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item">
                    <a class="page-link" (click)="flechasPaginadorAtras()" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item" *ngFor="let h of hasta; let i = index" [class.active]="paginaActual == h">
                    <a class="page-link" (click)="verUsuariosPaginador(h)">{{i+1}}</a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" (click)="flechasPaginadorAdelante()" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
          </div>
        </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
