.tabla-usuarios
{
    margin-top: 70px;
}

.espacio
{
    margin-right: 15px;
}
.active-cyan-4 input[type=text]:focus:not([readonly]) {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
 }
.active-cyan-3 input[type=text] {
    border: 1px solid #4dd0e1;
    box-shadow: 0 0 0 1px #4dd0e1;
    margin-bottom: 15px;
 }
 .titulo
 {
     margin-top: 15px;
    font-family: 'Lobster', cursive;
 }