<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="../../../assets/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../assets/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../assets/vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="../../../assets/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../assets/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../../../assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="../../../assets/css/mainLogin.css">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="../../../assets/images/img-01.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" [formGroup]="form" (ngSubmit)="acceder()">
					<span class="login100-form-title">
						RedAlumni Login
					</span>

					<div class="wrap-input100 validate-input form-group" data-validate = "El carnet de identidad es requerido">
						<input class="input100 form-control" type="number" formControlName="ci" placeholder="Carnet">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-id-card" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input form-group" data-validate = "Password es requerido">
						<input class="input100 form-control" type="password" formControlName="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" type="submit">
							Login
						</button>
					</div>
					<br>
					<div class="wrap-input100 validate-input" *ngIf="Error">
						<div class="alert alert-danger" role="alert">
							{{mensajeError}}
						</div>
					</div>
					<div class="wrap-input100 validate-input" *ngIf="errorDB">
						<div class="alert alert-danger" role="alert">
							No hay conexion con la Base de Datos.
						</div>
					</div>
					<div class="text-center p-t-136">
						<a class="text2" [routerLink]="[ '/registro']">
							Crear tu cuenta
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	

	
<!--===============================================================================================-->	
	<script src="../../../assets/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../assets/vendor/bootstrap/js/popper.js"></script>
	<script src="../../../assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../assets/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../../../assets/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="../../../assets/js/main.js"></script>

</body>
</html>